.SignupOuterContainer {
  position: relative;
  height: 100vh;
  background-color: #fff;
}
.SignupMainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.PhoneMainContainer {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: 1px solid rgba(0, 0, 0, 0.073);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 2rem;
}
.PhoneIcon span {
  color: #2b56c6;
}
.VerifyText {
  margin-top: 3rem;
}
.PhoneMainContainer .PhoneInputField {
  border: 2px solid green;
  display: flex;
  flex-direction: row;
}
.PhoneInput {
  margin: 1rem 0;
}
.SignupSendButton {
  width: 100%;
  height: 3rem;
  background-color: #2b56c6;
  color: #fff;
  font-size: 1.7rem;
  border: none;
}
.SignupSendButton:hover {
  background-color: #1b66c9;
  cursor: pointer;
}
.OtpMaincontainer {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 1px solid rgba(0, 0, 0, 0.073);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 2rem;  
}
.ShieldIcon span
{
    color: #2b56c6;
}
.VerifyButton{
    width: 100%;
    margin-top: 1rem;
    height: 3rem;
  background-color: #2b56c6;
  color: #fff;
  font-size: 1.7rem;
  border: none;
}
.VerifyButton:hover{
    background-color: #1b66c9;
    cursor: pointer;
}